---
---
@import 'bulma/utilities/all';
@import 'bulma/base/all';
@import 'bulma/elements/all';
@import 'bulma/components/all';
@import 'bulma/grid/all';
@import 'bulma/layout/all';

@import url('https://fonts.googleapis.com/css?family=Oswald|Noto+Sans|Monserrat|Lora|Cuttive|Arvo|Copse|Bitter|Cabin|Rubik&display=swap');

$family-primary: 'Arsenal';
$title-family: 'Quicksand';
$primary: hsl(153, 21%, 30%);
$background:  hsl(38, 100%, 98%); // rgb(250, 246, 234)

$light-color: rgb(250, 246, 234);

.has-shadow{
  text-shadow: 2px 2px black;
}

#title-header h1 {
  font-family: 'Oswald', $title-family;
  font-weight: 900;
  font-variant: small-caps;
}

#title-header {
  font-family: 'Oswald';
  font-weight: 300;
  background: black;
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url({{site.url}}/assets/umb-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

#about .article .warning {
  background: hsl(51, 94%, 90%);
//  background: hsl(81, 62%, 90%);
}

.card {
  box-shadow: none;
}

#about-col .card-content {
  padding: 0px;
  ul {
    list-style-type: none;
    padding-left: 1em;
    margin: 0em;
    margin-top: 1em;
    li {
      padding-bottom: 1em;
    }
  }
}


/* Logo watermark */

body {
  background: linear-gradient( rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url({{site.url}}/assets/umb.svg);
  background-position: bottom 20px right 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 64px;
  background-color: hsl(81, 62%, 98%);

}
.card {
  background: transparent;
}
.card-header .card-header-title {
  margin-bottom: 0px;
}

.tile .is-child {
  background: hsl(208, 41%, 87%);
}