---
layout: default
---

{% assign articles = site.data.publications | where: "funding", "fearless22" %}
{% assign journals = articles | where: "type", "journal" %}
{% assign confs = articles | where: "type", "conference" %}
{% assign workshops = articles | where: "type", "workshop" %}
{% assign abstracts = articles | where: "type", "unpublished" %}

<section id="title-header" class="hero is-medium is-primary has-background" style="padding-top:2em;">
      <h1 class="title has-text-centered has-shadow" style="font-size: 48px"><a href="/">Software Verification Lab</a></h1>
  <div class="hero-body has-text-centered" style="padding-top:1em;
    padding-bottom:0em;">
    <div class="container media">

      <div class="media-content has-text-centered column" style="font-size: 32px; max-width: 45rem; margin: auto;">
        <p class="has-shadow" >
          Static Verification for Fearless GPU programming
         </p>
      </div>  
    </div> <!-- media content -->
    <div class="is-centered title"
    style="margin-top:1em" >
        <a class="button" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2204986">
          <span class="icon is-small"><img src="assets/nsf.svg" /></span>
          <span>NSF Award #2204986</span>
        </a>
    </button>
</div> <!-- hero body -->
  <a href="https://www.flickr.com/photos/93628401@N05/11874136076/" style="text-align: right; padding-bottom:1em; color: #AAA;">Picture by mollymccord (CC BY 2.0)</a>


</section> <!--Hero-->

<section class="container content" style="padding-top: 2em; padding-bottom: 2em;">

  <h2 class="title">Project description</h1>
  <p>
    Programming Graphical Processing Units (GPUs) is an art currently reserved to a select few
    experts, as unlocking the full potential of these devices requires mastering an intricate hardware
architecture and execution model. Scientists and domain experts need to adapt their algorithms
to a programming model where simply changing the order in which data is accessed can have a
10× overhead, and off-by-one errors can silently corrupt data. The aim of this project is to help
achieve correct and efficient GPU programming, with a static framework that explains sources of
performance degradation and repairs concurrency bugs without loss of performance.
</p>
<p>
This project consists of three tasks.
<ol>
<li>We will develop bug prevention techniques that
can prove the absence deadlocks/data-races and identify the root cause of concurrency errors. We
wil introduce the first techniques that can analyze programs fully symbolically and techniques
that mitigate false alarms.</li>
<li>We will develop static performance-profiling techniques that
help identify the major sources of performance degradation, uncoalesced accesses, bank conflicts,
divergence, and over-synchronization. Our technique includes an amortization analysis that de-
rives a symbolic expression capturing the resource usage bounds of memory transactions,
synchronizations, among others.</li>
<li>We will develop program repair techniques that can fix
concurrency bugs without sacrificing performance.
</li>
</ol>
  </p>
<h2 class="title">Intellectual Merit</h2>
<p>
Our project advances the state of the art in static verification for GPUs and
other accelerator architectures, both in terms of correctness and
performance analysis. Existing solutions suffer from a high rate of false
alarms, cannot handle large programs, or are unsound. Most importantly,
existing approaches either address performance or safety, but not both; our
project addresses both complementarily.</p>
<p>
A key aspect of this project is an underlying static verification
infrastructure, a collection of analysis backed by theoretical results, that
enable novel and efficient analysis and tools. Such verification
infrastructure is built around a novel and general intermediate representation
based on behavioral type theory. Our project expands our formal understanding
of GPU programming models, by introducing safety properties, semantics
preserving transformations, and behavioral equivalences, fully mechanized
using a proof assistant.
</p>

<p><b>Research outputs.</b>
This research project produced {{ articles | size }} articles:
</p>
<ul>
  <li>{{ journals | size }} journal articles,</li>
  <li>{{ confs | size }} conference articles,</li>
  <li>{{ workshops | size }} workshop articles, and</li>
  <li>{{ abstracts | size }} peer-reviewed extended abstracts.</li>
</ul>


<h2 class="title">Broader Impacts</h2>
<p>
This project makes GPU programming more accessible to scientists and domain
experts, by furthering their understanding of parallel programming and
hardware architectures. An outcome of this project is improved developer
productivity and software sustainability, as our project aids in writing
correct and highly efficient GPU programs without sacrificing either. We
expect an interest from industry (e.g., autonomous mobility, artificial
intelligence applications) as well as from academy (e.g., energy national
laboratories). Our research lowers the barrier to entry of GPU programming, so
we expect to widen the suitability of GPUs to more fields. The tools that
result from this project can empower students to understand bugs in their code
autonomously, leading to a more focused pedagogical experience between the
instructor and the student.
</p>

  <h2 class="title">Open Source Software</h2>
  <ul>
  <li><a href="https://gitlab.com/umb-svl/faial/">Faial</a>: a correctness and performance verifier for GPU programs</li>
  <li><a href="https://github.com/cogumbreiro/setup-faial">Faial-setup</a>: integrate Faial into GitHub CI workflows</li>
  </ul>


  <h2 class="title">Publications</h2>

  <p><b>{{ journals | size }} Journal papers:</b>
  </p>
  <ul>
  {% for article in journals %}
    <li>
      {% include pub_item.html article=article %}
    </li>
  {% endfor %}
  </ul>

  <p><b>{{ confs | size }} Conference papers:</b></p>

  <ul>
    {% for article in confs %}
      <li>
        {% include pub_item.html article=article %}
      </li>
    {% endfor %}
  </ul>

  <p><b>{{ workshops | size }} Workshop papers:</b></p>

  <ul>
    {% for article in workshops %}
      <li>
        {% include pub_item.html article=article %}
      </li>
    {% endfor %}
  </ul>

  <p><b>{{ abstracts | size }} Peer-reviewed abstracts:</b></p>

  <ol>
    {% for article in abstracts %}
      <li>
        {% include pub_item.html article=article %}
      </li>
    {% endfor %}
  </ol>
  
</section>
