---
layout: default
---


<section id="title-header" class="hero is-medium is-primary has-background" style="padding-top:2em;">
      <h1 class="title has-text-centered has-shadow" style="font-size: 48px">Software Verification Lab</h1>
  <div class="hero-body has-text-centered" style="padding-top:1em;
    padding-bottom:0em;">
    <div class="container media">

      <div class="media-content has-text-centered" style="font-size: 32px; max-width: 45rem; margin: auto;">
        <p class="has-shadow" >
          We make your programs run right
          <!--
          We research the intricacies of
          programming languages so that programmers don't have to.
          -->
        </p>
      </div>
    </div> <!-- media content -->
  </div> <!-- hero body -->
  <a href="https://www.flickr.com/photos/93628401@N05/11874136076/" style="text-align: right; padding-bottom:1em; color: #AAA;">Picture by mollymccord (CC BY 2.0)</a>


</section> <!--Hero-->


<section class="container" id="about">
  <!-- START ARTICLE FEED -->
  <div class="articles">
    <div class="column is-10 is-offset-1">
        <!-- START ARTICLE -->
        <div class="card article">
            <div class="card-content">
              <div class="content article-body" style="font-size: 120%;">
        <p>
          The <strong>Software Verification Laboratory</strong> at <a href="https://www.umb.edu/">UMass Boston</a>
          develops foundational research and tools that improve the
          correctness of programs.
        </p>
        <p>
        We live in a world where parallel computers have become the norm.
        Programs must exploit parallel computing to harness performance benefits
        from current and future hardware. <strong>Our research improves the quality of
        parallel programs by introducing techniques that identify, reduce, or
        prevent programming errors.</strong>
        </p>
        </div>
        </div>
        </div>

          <div class="card article">
              <div class="card-content warning">
                <div class="content article-body" style="font-size: 120%;">
  <p>
    <strong>
      Are you a student at <a href="https://www.umb.edu/">UMass Boston</a>?
    <a href="mailto:tiago.cogumbreiro@umb.edu">Ask us about our academic research opportunities</a>,
    both at the undergraduate and at the graduate level.
    We strongly encourage underrepresented groups to apply.
    </strong>
    We have opportunities on software engineering, testing, compiler
    construction, program analysis, parallel programming.
  </p>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body" style="padding: 0; padding-top: 2em; padding-bottom: 1em;">
    <div class="container">
    <!-- <h1 class="title has-text-centered">Projects</h1> -->
    </div>
    <div class="columns" style="padding: 0">
      <div class="column is-10-desktop is-offset-1-desktop is-full-mobile">
        <div class="tile is-ancestor section" style="padding: 0; padding-top: 2em;">
          <div class="tile is-parent">
            <div href="#" class="tile is-child notification">
              <h1 class="title">
              <a href="/fearless-gpu.html">Research Project: Static Verification for Fearless GPU programming</a>
              </h1>
              <!-- <p class="subtitle">Developing software to support Higher Ed</p> -->
              <p>
                Help achieve correct and efficient GPU programming, with a
                static framework that explains sources of performance
                degradation and repairs concurrency bugs without loss of
                performance.
              </p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child notification">
              <p class="title">Safer GPU programming</p>
              <p class="subtitle">Localizing bugs caused by data-races & over-synchronization</p>
              <p><i>Software:</i></p>
              <ul>
                  <li><a href="https://gitlab.com/cogumbreiro/c-to-json">C AST serialization</a></li>
                  <li><a href="https://gitlab.com/cogumbreiro/faial-infer/">Concurrency signature inference</a></li>
                  <li><a href="https://gitlab.com/cogumbreiro/faial">Data-race detection</a></li>
              </ul>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child notification">
              <p class="title">Safer parallel runtimes</p>
              <p class="subtitle">Proving the correctness of parallel runtimes and
                  testing implementations</p>
              <p><i>Software:</i></p>
              <ul>
                <li><a href="https://gitlab.com/cogumbreiro/brenner-coq">Deadlock detection formalization</a></li>
                <li><a href="https://gitlab.com/cogumbreiro/habanero-coq/">Habanero formalization</a></li>
                <li><a href="https://gitlab.com/cogumbreiro/armus">Deadlock detection algorithm</a> <a href="https://gitlab.com/cogumbreiro/jarmus">(for Java)</a> <a href="https://gitlab.com/cogumbreiro/armus-x10">(for X10)</a></li>
              </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="content">
  <div class="columns">
    <div class="column is-6 is-offset-1 is-centered">
      <section id="pubs" class="section" style="padding:0">
      <h1 class="title">Publications</h1>
      <ul>
        {% for article in site.data.publications %}
        {% if article.type != "unpublished" %}
        <li>
          {% include pub_item.html article=article %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <h3 class="title">Peer-reviewed abstracts</h3>
      <ul>
        {% for article in site.data.publications %}
        {% if article.type == "unpublished" %}
        <li>
          {% include pub_item.html article=article %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      

      </section>
    </div> <!--column is-6 -->

    <div class="column is-4 is-centered" id="about-col">
      <section class="section" style="padding:0">
        <!-- Experience -->
        <div id="experience" class="card"
          style="width:40em;margin-top:1em;margin-right:1em">
          <div class="card-header">
            <h3 class="card-header-title">People</h3>
          </div>
          <div class="card-content" style="padding-top: 0em">
            <ul class="content">
              <li><strong>Faculty:</strong>
              <a href="http://cogumbreiro.github.io/">Tiago Cogumbreiro</a>,
              <a href="https://pure.royalholloway.ac.uk/portal/en/persons/julien-lange(55a85423-9481-4565-9339-224891092d5e).html">Julien Lange (<acronym title="">RHUL</acronym>)</a>
              </li>
              <li><strong>PhD students:</strong>
                <a href="https://dennisliew11.gitlab.io/dennisliew/">Dennis Liew</a>,
                Greg Blike,
                <a href="https://zicarelli.dev/">Hannah Zicarelli</a>,
                Paul Maynard
              </li>
              <li><strong>Masters students:</strong>
                Ramsey Harrison
              </li>
              <li><strong>Undergraduate students:</strong>
                Austin Guiney,
                Kleopatra Gjini,
                Udaya Sathiyamoorthy
              </li>
              <li><strong>Alumni:</strong>
                <a href="https://www.linkedin.com/in/abdelrahman-obyat-52065b173/">Abdelrahman Obyat</a>,
                Andre Simonelli,
                Drew Jackson,
                Emma Kelminson,
                Jack Davis,
                <a href="https://www.linkedin.com/in/joelgeorges/">Joel Georges</a>,
                <a href="https://www.linkedin.com/in/nandiniiys/">Nandinii Yeleswarapu</a>,
                Pablo Bendiksen,
                <a href="https://www.linkedin.com/in/xu-huang-lin/">Xu Huang Lin</a>
                Austin Guiney,
                Kleopatra Gjini,
                Udaya Sathiyamoorthy
                Pablo Bendiksen (MS)
              </li>
            </ul></div>
        </div>
        <!-- Collaborators -->
        <div id="education" class="card"
          style="width:40em;margin-top:1em;margin-right:1em">
          <div class="card-header">
            <h3 class="card-header-title">Ongoing Collaborations</h3>
          </div>
          <div class="card-content"  style="padding-top: 0em">
            <ul class="content">
              <li>
                <a href="https://www.linkedin.com/in/carlos-mao-de-ferro/">Carlos Mão de Ferro, Universidade de Lisboa</a>
              </li>
              <li>
                <a href="http://di.ciencias.ulisboa.pt/~fmartins/en/Home.html">Francisco Martins, Unversidade dos Açores</a>
              </li>
              <li>
                <a href="https://yforster.github.io/">Yannick Forster, Inria</a>
              </li>
              <li>
                <a href="https://vsarkar.cc.gatech.edu/">Vivek Sarkar, Georgia Tech</a>
              </li>
              <li>
                Feiyang Jin, Georgia Tech
              </li>
              <li>
                <a href="https://scholar.google.com/citations?user=ZuKxp-kAAAAJ&hl=en">Jun Shirako, Georgia Tech</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/lechen-yu-114236b3/">Lechen Yu, Georgia Tech</a>
              </li>
            </ul>
          </div> <!-- card-content -->

        <!-- Past Collaborators -->
        <div id="education" class="card"
          style="width:40em;margin-top:1em;margin-right:1em">
          <div class="card-header">
            <h3 class="card-header-title">Past Collaborations</h3>
          </div>
          <div class="card-content"  style="padding-top: 0em">
            <ul class="content">
              <li>
                <a href="https://www.linkedin.com/in/kathknobe/">Kath Knobe, Rice University</a>
              </li>
              <li>
                <a href="http://www.teymourian.de/">Kia Teymourian, MET, Boston University</a>
              </li>
              <li>
                <a href="https://www.di.fc.ul.pt/~vv/">Vasco Vasconcelos, Universidade de Lisboa</a>
              </li>
              <li>
                <a href="https://calebvoss.com/">Caleb Voss, Georgia Tech</a>
              </li>
              <li>
                <a href="https://cs.wellesley.edu/~bpw/">Ben P. Wood, Wellesley College</a>
              </li>
            </ul>
          </div>
        </div> <!--education-->

      </section>
    </div> <!--column is-4 -->
  </div> <!--columns-->
</div> <!--content-->
