{%- assign article = include.article -%}
<strong>{{ article.title }}.</strong>
{% for author in article.authors -%}
  {{ author }}{% unless forloop.last %}, {% endunless %}
{%- endfor -%}.
{% if article.type == "journal" %}
<i>
  {% assign conf = site.data.conferences[article.journal] %}
  {%- if conf -%}
    <a href="{{ conf.url }}" title="{{ conf.title }}">{{ article.journal}}</a>
  {%- else -%}
    {{ article.journal }}
  {%- endif -%}
  </i>
  {%- if article.volume -%}
    , {{ article.volume }}
    {%- if article.number -%}
    ({{ article.number }})
    {%- endif -%}
  {%- endif -%}
  {%- if article.pages -%}
    :{{ article.pages }}
  {%- endif -%}
  , {{article.year }}.
{% else %}
In <i>
  {% assign conf = site.data.conferences[article.booktitle] %}
  {%- if conf -%}
    {%- assign url = conf.url[article.year] -%}
    <a href="{{ url }}" title="{{ conf.title }} ({{ article.year}})">{{ article.booktitle}}</a>
  {%- else -%}
    {{ article.booktitle}}
  {%- endif -%}
  </i>
  {%- if article.volume -%}
    , volume {{article.volume}}
    {%- if article.series %}
    of <i>{{ article.series}}</i>
    {%- endif -%}
  {% endif -%}
  {%- if article.pages -%}
    , page {{ article.pages }}
  {%- endif -%}
  {%- if article.publisher -%}
    . {{ article.publisher }},
  {%- else -%}.
  {%- endif %}
  {{ article.year }}.
{% endif %}
